[Desktop Entry]
Name=K3Guitune
Comment=
Exec=k3guitune -caption "%c" %i
Icon=
DocPath=k3guitune/index.html
Terminal=false
Type=Application
Categories=Qt;KDE;Audio;
# vi: encoding=utf-8
